@model NTier.Entities.About

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>About</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AboutText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Background)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Background)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teamwork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teamwork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OurCoreValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OurCoreValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AboutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
